<ion-view class="bg-gradient">
  
  <ion-nav-title>
    <span class="logo-text">Create Game</span>
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-grid" ng-click="closeCreate()"></button>
  </ion-nav-buttons>
  
  <ion-content class="padding has-subheader">
    <div class="list card"> 
      <label class="item item-input">
        <span class="input-label">Game Type</span>
        <input type="text" ng-model="game.type">
      </label>
      <label class="item item-input">
        <span class="input-label">Game Name</span>
        <input ng-model="game.name" type="text" focus-me>
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <input ng-model="game.description" type="text" focus-me>
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input ng-model="game.date" type="datetime-local">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <input ng-model="game.startTime" type="time">
      </label>
      <label class="item item-input">
      <span class="input-label">Duration</span>
        <input ng-model="game.duration" type="text">
      </label>
      <label class="item item-input">
      <span class="input-label">Min Players</span>
        <input ng-model="game.minPlayers" type="text">
      </label>
    </div>
    <button class="button button-block button-outline button-light" ng-click="createGame(game)"><b>Create</b></button>
  </ion-content>

</ion-view>